.calendar-container {
    background-color: rgb(40, 49, 64);
}

.calendar-current-month {
    color: #ffffff;
}

.previous-month-button, .next-month-button, .today-button, .day-row, .day-div, .cal-col {
    background: rgb(40, 49, 64);
    color: #ffffff;
}

.previous-month-button-text, .next-month-button-text, .next-month-button-text {
    color: #ffffff;
}

.calendar-header, .day-out-div {
    border-bottom: 1px solid #303d50;
}

.calendar {
    background: rgb(40, 49, 64);
}

.cal-col {
    background: rgb(40, 49, 64);
}

.current-cal-col {
    background: rgb(51, 61, 78);
}

.event-name, .event-datetime, .not-today {
    color: #ffffff;
}

.mobile-current-month-col {
    background-color: #303d50;
    color: white;
    transition: 0.3s;
}

.today-cal-col, .mobile-today-col {
    background-color: #ed5a5a;
}

.selected-cal-col, .selected-mobile-day-col {
    background-color: #a74040;
}

.today-cal-col, .current-cal-col {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.today-button, .previous-month-button, .next-month-button {
    transition: 0.3s;
}

.today-button:hover, .previous-month-button:hover, .next-month-button:hover, .today-cal-col:hover, .current-cal-col:hover {
    background-color: #1a222d;
    color: #ffffff;
}