.logo-title {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 42px;
}

.logo-title-nft {
    color: #ed5a5a;
}

.logo-title-investor {
    color: #fff;
}

.header-home-link {
    border-color: #ed5a5a;
    color: #ed5a5a;
    background: transparent;
    transition: 0.3s;
}

.header-home-link:hover {
    border-color: #ed5a5a;
    color: #ed5a5a;
    background: #303d50;
}