.info-header {
    color: #ffffff;
}

.info-back, .info-container {
    background-color: #263141;
}

.event-info {
    width: 100%;
}

.event-content {
    background-color: rgb(51, 61, 78);
    color: #ffffff;
}

.social-links {
    max-width: 30px;
    width: 100%;
}