.info-header {
    color: #ffffff;
}

.info-back, .info-container {
    background-color: #263141;
}

.event-info {
    width: 100%;
}

.event-content {
    background-color: rgb(51, 61, 78);
    color: #ffffff;
}

.social-links {
    max-width: 30px;
    width: 100%;
}

.instagram-image {
    filter: invert(34%) sepia(86%) saturate(974%) hue-rotate(246deg) brightness(76%) contrast(100%);
}

.twitter-image {
    filter: invert(68%) sepia(67%) saturate(5467%) hue-rotate(177deg) brightness(100%) contrast(90%);
}

.discord-image {
    filter: invert(49%) sepia(63%) saturate(6502%) hue-rotate(225deg) brightness(98%) contrast(94%);
}

.event-card-container {
    background-color: #263141;
}

@media (max-width: 1280px) {
    .event-card-container{
        display: flex;
        flex-direction: row;
    }

    .event-card {
        min-width: 320px;
        width: 100%;
    }
}