.newsletter-container {
    max-width: 650px;
    width: 100%;
}

.email-input {
    height: 40px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
    border-color: #ed5a5a;
}

.email-button {
    border-color: #ed5a5a;
    color: #ffffff;
    background: transparent;
    transition: 0.3s;
}

.email-input:focus-visible {
    background-color: transparent;
    color: white;
    border-color: #ed5a5a;
    outline: white auto 1px;
}

.email-button:hover {
    border-color: #ed5a5a;
    color: #fff;
    background: #303d50;
}
