.notification {
  background-color: #263141;

  .close {
    background-color: transparent;
    border-color: #ed5a5a;
    padding: 5px;
    transition: 0.3s;
  }

  .close:hover {
    background-color: #1a222d;
  }
}